/**
 * @file
 * Visual styles for NjalaAPP's node in teaser tile view.
 */
.node--view-mode-tp-teaser-tile {
  margin-bottom: 60px;
  text-align: center;
}
.node--view-mode-tp-teaser-tile h4 {
  margin-bottom: 15px;
}
.node--view-mode-tp-teaser-tile h4 a {
  text-decoration: none;
}
.node--view-mode-tp-teaser-tile .node__header {
  padding-bottom: 0;
}
.node--view-mode-tp-teaser-tile .image-and-tag-container {
  margin-bottom: 20px;
}
.node--view-mode-tp-teaser-tile .field--name-field-image .images-container,
.node--view-mode-tp-teaser-tile .field--name-field-tp-pst-image .images-container {
  margin-bottom: 0;
}
.node--view-mode-tp-teaser-tile .field--entity-reference-target-type-taxonomy-term,
.node--view-mode-tp-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item {
  margin: 0 0 5px;
  padding: 0;
}
.node--view-mode-tp-teaser-tile .field--entity-reference-target-type-taxonomy-term:before,
.node--view-mode-tp-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item:before {
  content: "";
}
.node--view-mode-tp-teaser-tile .field--entity-reference-target-type-taxonomy-term .field__item a,
.node--view-mode-tp-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item a {
  font-size: 14px;
  padding: 0.1em 0.6em;
}
.region--dark-typography .node--view-mode-tp-teaser-tile .field--entity-reference-target-type-taxonomy-term .field__item a,
.region--dark-typography .node--view-mode-tp-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item a {
  color: #000000;
}

/* Aricle */
.node--view-mode-tp-teaser-tile .image-and-tag-container__text {
  position: absolute;
  bottom: 0;
  padding: 20px 20px 0 20px;
  left: 0;
  right: 0;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
  margin-bottom: 0px;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}
.region--white-background .node--view-mode-tp-teaser-tile .image-and-tag-container__text {
  background-color: #ffffff;
}
.region--gray-background .node--view-mode-tp-teaser-tile .image-and-tag-container__text {
  background-color: #f7f7f7;
}
.region--black-background .node--view-mode-tp-teaser-tile .image-and-tag-container__text {
  background-color: #000000;
}
.node--view-mode-tp-teaser-tile .image-and-tag-container:hover .image-and-tag-container__text {
  padding-bottom: 20px;
}

/* Post node */
.node--view-mode-tp-teaser-tile .field--entity-reference-target-type-taxonomy-term:not(.field--label-above)::after {
  content: "";
}
.node--view-mode-tp-teaser-tile .node__meta {
  text-transform: capitalize;
  margin-bottom: 10px;
}
.region--light-typography .node--view-mode-tp-teaser-tile .node__meta,
.region--light-typography .node--view-mode-tp-teaser-tile .node__meta a {
  color: #dddddd;
}
.region--dark-typography .node--view-mode-tp-teaser-tile .node__meta {
  color: #707070;
}
.node--view-mode-tp-teaser-tile .profile {
  display: inline-block;
}
.node--view-mode-tp-teaser-tile .field--name-user-picture img {
  border-radius: 100%;
  max-width: 40px;
  margin-right: 10px;
}
.image-and-tag-container {
  position: relative;
}
.node--view-mode-tp-teaser-tile .field--name-field-tp-pst-category.field--entity-reference-target-type-taxonomy-term.field__item {
  position: absolute;
  bottom: 0;
  padding: 20px 20px 0 20px;
  left: 0;
  right: 0;
  margin-left: 35px;
  margin-right: 35px;
  text-align: center;
  margin-bottom: 0px;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}
.region--white-background .node--view-mode-tp-teaser-tile .field--name-field-tp-pst-category.field--entity-reference-target-type-taxonomy-term.field__item {
  background-color: #ffffff;
}
.region--gray-background .node--view-mode-tp-teaser-tile .field--name-field-tp-pst-category.field--entity-reference-target-type-taxonomy-term.field__item {
  background-color: #f7f7f7;
}
.region--black-background .node--view-mode-tp-teaser-tile .field--name-field-tp-pst-category.field--entity-reference-target-type-taxonomy-term.field__item {
  background-color: #000000;
}
.node--view-mode-tp-teaser-tile .node__content {
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .node--sticky a.button {
    display: none;
  }
}
.view-tp-posts-grid .js-pager__items {
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 5px;
}
.node--view-mode-tp-teaser-tile .field--entity-reference-target-type-taxonomy-term.field__item a {
  display: inline-block;
}
.node--view-mode-tp-teaser-tile .image-and-tag-container:hover .field--name-field-tp-pst-category.field--entity-reference-target-type-taxonomy-term.field__item {
  padding-bottom: 20px;
}
.region--light-typography .node--view-mode-tp-teaser-tile .username {
  text-decoration: none;
}
.node--view-mode-tp-teaser-tile .node__meta {
  font-size: 14px;
}
