/**
 * @file
 * Visual styles for NjalaAPP's tp-count-down module.
 */
.tp-count-down.tp-count-down-theme {
  color: #ffffff;
  background-color: #000000;
}
.tp-count-down.tp-count-down-theme .tp-count-down__notes,
.tp-count-down.tp-count-down-theme .tp-count-down__message,
.tp-count-down.tp-count-down-theme .tp-count-down__title,
.tp-count-down.tp-count-down-theme .tp-label {
  color: #ffffff;
}
.tp-count-down {
  padding: 20px 0;
  margin: 0;
  border-radius: 0;
  border: none;
}
.tp-count-down__title {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}
.tp-count-down__message {
  font-size: 16px;
  padding-bottom: 0;
}
.tp-count-down__button {
  margin-top: 15px;
  font-size: 14px;
  padding: 17px 25px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0;
  text-align: center;
}
@media (max-width: 575px) {
  .tp-count-down__title,
  .tp-count-down__message {
    text-align: center;
  }
  .tp-count-down__button {
    padding: 15px 0 2px 0;
    background-color: transparent;
    border-bottom: 1px solid;
  }
}
.tp-count-down.tp-count-down-theme .tp-count-down__button {
  color: #000000;
}
.tp-count-down .tp-count-down__daysto {
  text-align: left;
}
.tp-count-down__daysto .mt-time {
  display: inline-block;
  margin: 0 10px 0 0;
}
@media (max-width: 575px) {
  .tp-count-down__daysto .mt-time:last-child {
    display: none;
  }
}
.tp-count-down__daysto .tp-count-down__notes {
  font-size: 18px;
  font-weight: 700;
}
.tp-count-down__daysto .tp-count,
.tp-count-down__daysto .tp-label {
  display: inline;
}
.tp-count-down__daysto .tp-count {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  display: inline-block;
}
.tp-count-down__daysto .tp-label {
  font-size: 15px;
  text-transform: capitalize;
}
@media (min-width: 768px) and (max-width: 991px) {
  .tp-count-down__daysto .mt-time {
    margin: 0 3px;
  }
}
@media (max-width: 767px) {
  .tp-count-down__daysto > span {
    margin-top: 20px;
    display: block;
  }
}
.tp-count-down.alert button.close {
  top: 10px;
  right: 20px;
}
@media (max-width: 575px) {
  .tp-count-down.alert button.close {
    top: 0;
    right: 20px;
  }
}
@media (max-width: 575px) {
  .tp-count-down__notes,
  .tp-count-down-slot {
    text-align: center;
  }
}
